@import url(../../styles/global.css);

body{
    width: 100vw;

    overflow-x: hidden;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 85px;
    width: 90%;
    margin: 0 auto;
}

header>img{
    height: 30px;
}

header>div{
    display: flex;
    gap: 24px;
}

main{
    width: 100vw;
}

.cabecalho {
    background-color: var(--brand-1);
    display: flex;
    align-items: flex-end;
    justify-content: center;

    height: 300px;
    width: 100%;

    position: relative;
}

.cabecalho>div {
    color: var(--white-1);

    height: 40%;
    width: 100%;
}

.cabecalho>img {
    position: absolute;

    width: 180px;
    height: 180px;

    object-fit: cover;

    bottom: 20px;
    border: 4px solid var(--white-1);
    border-radius: 50%;
}

.dadosPessoais {
    display: flex;
    flex-direction: column;
    gap: 33px;

    margin: 20px auto 0 auto;
    width: 40%;

    padding: 24px;
}

.dadosPessoais>h1 {
    font-weight: 700;
    font-size: 24px;

    color: var(--brand-1);

    text-align: center;
}

.dadosPessoais>.dados {
    display: flex;
    flex-direction: column;

    gap: 8px;

    font-weight: 600;
    font-size: 16px;

    color: var(--black);
}

.dadosPessoais>.dados>h2>span {
    color: var(--brand-1);
}

.dadosPessoais>.botoes{
    display: flex;
    justify-content: center;

    gap: 10px;
}

section{
    width: 90%;

    margin: 90px auto 0 auto;
}

.listaDePets{
    width: 100%;
    max-width: 1024px;
    height: max-content;
    display: flex;
    gap: 30px;
    flex-direction:column;
    background-color: gray;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}

.cardPet2{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 340px;
    background-color: var(--white-1);
    gap: 10px;
    border-radius: 4px;
}

.caixaImagem{
    width: 100%;
    height: 180px;
    border-radius: 4px 4px 0 0;
}

.corpoCard{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
}

.bgImg{
    width: 100%;
    height: 100%;
    background-image: url('../../assets/img/animalTest.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

