.buttonBrand1 {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--brand-1);
    border-radius: 16px;

    font-weight: 600;
    font-size: 14px;

    color: var(--white);

    border: var(--brand-1) 1px solid;
}

.buttonBrand1:hover{
    background-color: var(--white);

    color: var(--brand-1);
}


