.buttonBrand1 {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--brand-1);
    border-radius: 30px;

    font-weight: 600;
    font-size: 1rem;

    color: var(--white-2);

    border: var(--brand-1) 1px solid;
}

.buttonBrand1:hover{
    background-color: var(--white-2);

    color: var(--brand-1);
}

.botaoAdotar{
    background-color: var(--brand-3);
    border: 1px solid  var(--brand-3);
    border-radius: 30px;
    color: var(--white-2);
}