.buttonBrand1 {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--brand-1);
    border-radius: 30px;

    font-weight: 600;
    font-size: 1rem;

    color: var(--white-2);

    border: var(--brand-1) 1px solid;
}

.buttonBrand1:hover{
    background-color: var(--white-2);

    color: var(--brand-1);
}

.buttonBrand2 {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--white-2);
    border-radius: 30px;

    font-weight: 600;
    font-size: 1rem;

    color: var(--brand-1);

    border: var(--brand-1) 1px solid;
}

.buttonDropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: var(--white-2);
    border-radius: 30px;

    font-weight: 600;
    font-size: 1rem;

    color: var(--brand-1);

    border: none;
}

.botaoAdotar {
    background-color: var(--brand-3);
    border: 1px solid  var(--brand-3);
    border-radius: 30px;
    color: var(--white-2);
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    max-width: 70%;
    align-self: center;
    padding: 0.8vh 5vw;
    margin-bottom: 2vh;
}

@media (min-width: 800px) {
    .botaoAdotar{
        max-width: 50%;
        padding: 0.8vh 2vw;
    }
}