/* mobile S, M, L */
main {
    width: 100vw;
    height: 100vh;
    background-color: var(--brand-100);
}
.imagemLogo {
    padding: 3%;
}
.formLogin {
    width: 100vw;
    height: 80vh;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
}
.formLogin>h2 {
    font-size: 2rem;
    font-weight: 700;
}
.divInputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.divInputs>input, .divInputs>button {
    height: 40px;
    border-radius: 30px;
    border: none;
}
.divInputs>input {
    padding-left: 20px;
}