/* mobile S, M, L */
@import url(./global.css);

body{
    overflow: hidden;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: var(--brand-1);
}
.imagemLogo {
    padding: 4%;
    margin: 10px 0;
}
.divImagem {
    background-image: url('../assets/img/Avatar\ animal.svg');
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.formLogin {
    width: 100vw;
    height: 90vh;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
}
.formLogin>h2 {
    font-size: 2rem;
    font-weight: 700;
}
.divInputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.divInputs>input, .divInputs>button {
    height: 40px;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
}
.divInputs>input {
    padding-left: 20px;
}
.divInputs>button {
    background-color: var(--brand-1);
    color: white;
}
.divInputs>button:active {
    background-color: var(--brand-2);
}
.divInputs>p {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--black);
    font-weight: 600;
}